@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* --------------------------x--------------------------x-------------------------x------------------- */
/* Product Display page */
.pdp_main {
  display: flex;
  gap: 10px;
  padding: 5rem 8rem;
  margin: 2% 0;
}

/* Label Message */

.label_message_container {
  display: flex;
  align-items: center;
  background: #323743ff;
  border-radius: 6px;
  color: #ffffffff;
  height: 100px;
  width: 40%;
}

.label_message_container img {
  object-fit: contain;
}

.label_message_container p {
  font: 14px/22px "lato";
}

/* Product Container */

.product_content_container {
  width: 60%;
}

.brand_details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff9ebff;
  border-radius: 8px 8px 0px 0px;
  padding: 20px;
}

.brand_details img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product_content_container h1 {
  font: 24px/36px "Lato";
  color: #2987c2ff;
}

.product_content_container h6 {
  font: 18px/28px Lato;
  color: #000000b3;
}

.product_content_container button {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lato;
  font-size: 14px;
  line-height: 22px;
  color: #ffffffff;
  background: #171a1fff;
  opacity: 1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 12px 0;
}

/* Hover */
.product_content_container .button:hover {
  color: #ffffffff;
  background: #262a33ff;
}
/* Pressed */
.product_content_container .button:hover:active {
  color: #ffffffff;
  background: #323743ff;
}
/* Disabled */
.product_content_container .button:disabled {
  opacity: 0.4;
}

/* --------------------------x--------------------------x-------------------------x------------------- */

/* Brand Connects */
.brand_connects {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin: 2% 0;
  gap: 10px;
}

.brand_connects::-webkit-scrollbar {
  display: none;
}

.connect_info {
  display: flex;
  align-items: center;
  padding: 20px 19px;
  gap: 20px;
  height: 88px;
  min-width: 240px;
  background: #f3f4f6ff;
  border-radius: 6px;
}

.connect_info p {
  font: 14px/22px "lato";
  color: #565d6dff;
}

.connect_info p span {
  font: 16px/26px "lato";
}

/* --------------------------x--------------------------x-------------------------x------------------- */
.report-error-btn {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font: 14px/22px "Lato";
  color: #ffffffff;
  background: #171a1fff;
  opacity: 1;
  border: none;
  border-radius: 6px;
}

/* --------------------------x--------------------------x-------------------------x------------------- */
.pdp-section-detail {
  padding: 8%;
}
.image-swipper {
  min-width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.image-left {
  display: flex;
  height: 50vh;
}
.image-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 1rem;
}
.element-wrapper {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.image-list-element div:first-child > img {
  object-fit: fill;
  max-height: 300px;
}
.active-product {
  border: 2px solid #583e81;
}
